# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python execution files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments (very important to ignore!)
venv/
env/
.env/

# Data files (Optional: if they are >100MB)
*.csv
*.xlsx
