# Python versioning
.python-version

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python execution files
__pycache__/
*.pyc

# Virtual Environments
venv/
.venv/
env/
.env/
bin/
lib/

# OS specific
.DS_Store

# Data files (Optional: if they are >100MB)
*.csv
*.xlsx